Z1_forms/XSD_basic_structure.xml

<?xml version="1.0"?>
<!--not sure how this works-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com">

<xs:element name="form">
  <xs:complexType>
    <xs:sequence>
        <xs:complexType name="person">
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="age" type="xs:integer">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <!--more about restrictions: https://www.w3schools.com/xml/schema_facets.asp-->
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="110"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        <xs:complexType>
        <xs:element name="price" type="xs:decimal">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0">
                </xs:restriction>
            <xs:simpleType>
        <xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>